@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid black;
}

body {
    font-family: Cardo, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

/*heading and logo*/

header{
    height:200px;
    width: 100%;
  
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2b2a2a;
}

#logo {
    text-align: center;
    font-size: 300%;
}


.active {
    border-bottom: 2px solid #1a237e;
}

/*Navigation Menu*/
#nav {
    font-size: x-large;
    letter-spacing: 4px;
    margin: 5px auto;
    text-align: center;
}

#nav li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 40px;

}



/* Hero Image */

#hero-image {
    height: 780px;
    width: 100%;
    background-color: whitesmoke;
    background: url('../images/psychology-sports-performance.jpg') no-repeat center center;

    position: relative;
}

#massage-therapy {
    margin-top: 40px;
    height: auto;
    width: 100%;
    font-size: x-large;
    text-align: center;
}

hr {
    border-top: 2px solid;
    width: 70%;
    margin: auto;

}

/*treatment section*/

#treatments {
    height: 600px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

#treatments-left {

    padding-top: 30px;
    width: 33%;
    background: url('../images/275px.jpeg') no-repeat center bottom;
    border-right: solid 1px;
    

}

#treatments-center {

    padding-top: 30px;
    width: 33%;
    background: url('../images/275pxlowbackpain.jpeg') no-repeat center bottom;
    


}

#treatments-right {
    padding-top: 30px;
    width: 33%;
    background: url('../images/275pxneckpain.jpeg') no-repeat center bottom;
    border-left: solid 1px;
    
}

li {
    text-align: left;

}

/*footer*/
footer {
    height: 100px;
    background-color: rgb(55, 50, 129);
}