@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

a {
    text-decoration: none;
    color: #2b2a2a;
}

a:hover {
    border-bottom: 2px solid black;
}

body {
    font-family: Cardo, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

/*heading and logo*/

header {
    height: 200px;
    width: 100%;

}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2b2a2a;
}

#logo {
    text-align: center;
    font-size: 300%;
}


.active {
    border-bottom: 2px solid #1a237e;
}

/*Navigation Menu*/
#nav {
    font-size: x-large;
    letter-spacing: 4px;
    margin: 5px auto;
    text-align: center;
}

#nav li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 40px;

}



/* Hero Image */
#hero-outer {
    height: 780px;
    width: 100%;
    overflow: hidden;

}

#hero-image {
    height: 780px;
    width: 100%;

    background: url('../images/psychology-sports-performance.jpg') no-repeat center center;

    position: relative;
}

#massage-therapy {
    margin-top: 40px;
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    font-size: x-large;
    text-align: center;
}

#massage-therapy p {
    font-family: 'Cardo', sans-serif;
    font-size: 122%;

}



hr {
    border-top: 2px solid;
    width: 70%;
    margin: auto;

}

/* divider image*/

.neck-massage-image {
    background: url('../images/resizedmalemassage.jpeg') no-repeat center center;
    height: 640px;
}

#cover-text,
#cover-text h2 {
    color: black;


}

#cover-text {
    height: 200px;
    width: 320px;
    font-size: 130%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: rgba(83, 75, 174, .7);

    padding-top: 30px;


    position: absolute;

    margin: 1%;



}

/*treatment section*/

#treatments {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 60px;
    padding-top: 40px;
    font-family: 'Cardo', sans-serif;
}

#treatments-left {

    padding-top: 30px;
    padding-left: 25px;
    width: 33%;
    margin: 1%;

}

#treatments-center {
    padding-top: 30px;
    width: 33%;
    margin: 1%;


}

#treatments-right {
    padding-top: 30px;
    width: 33%;
    margin: 1%;

}


.treatment-images {
    background-color: white;
    padding-top: 1%;
    padding: 0;
    position: absolute;
    margin: 1%;
    height: 183px;
    width: 275;

}




/*footer*/
footer {
    height: 150px;
    background-color: rgb(55, 50, 129);
}


/*social-network-icons*/

.social-network-icons {
    text-align: center;

}

.social-network-icons li {
    display: inline
}

.social-network-icons i {
    font-size: 300%;
    color: white;
    margin: 2%;

}

/* Sign-Up here Form */

form {
    width: 100%;
    height: 700px;

}

#form-container {
    height: 1300px;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    border: solid 1px #3a3a3a;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;



}

.contact-form {
    margin-top: 20px;
    margin-left: 5px;



}

.contact-form h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
}

.contact-form p {
    font-family: Cardo, sans-serif;
    font-size: 130%;
    text-align: center;
}


.input-field {
    width: 98%;
    height: 30px;
    border: 1px solid black;
    color: black;
    font-size: medium;

}

.input-field:hover {
    background-color: #534bae;
}

.input-field:active {
    background-color: #534bae;
    color: black;
}

#additional-information {
    width: 98%;
    height: 300px;
    color: black;
    font-size: x-large;

}

#additional-information:active {
    color: black
}

input[type=submit] {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background: #534bae;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.mapouter {
    position: relative;
    text-align: center;
    height: 150px;
    width: 100%;
}

#gmap {
    width: 600px;
    height: 150px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 150px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    #treatments {
        width: 65%;
        height: 1500px;
        display: block;
        margin: 10px;
    }

}

@media screen and (max-width: 950px) {
    #nav {
        clear: left;
        float: left;
    }
}

@media screen and (max-width: 1030px) {
    #logo {
        clear: left;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}